$firstColor : #FFE542;
$secondColor : #ffed77;
$thirColor:#DDCD64;
$fourthColor:#C2B97F;
$fifhtColor:#A7A69A;
$varColor1:#D7FF42;
$varColor2:#FFA542;
$darkColor1:#453C00;
$firstBoxShadow : 2px 2px 2px  rgba(56, 54, 54, 0.37) ;
$lightBoxShadow :1px 1px 1px   rgba(56, 54, 54, 0.171) ;
$lightTopBoxShadow :1px 0px 1px 1px  rgba(56, 54, 54, 0.171) ;

$tintColor1:#FFFAD7;

$backgroundColor:#e2e2e2c7;
$darklightColor:#fdf6c0;
$imgWidth: 250px;

